html {
    box-sizing: border-box;
   }
   
   *, *:before, *:after {
    box-sizing: inherit;
   }

body {
    background-color: #2C2141;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    background-color: #f8f8f8;
    border-radius: 16px;
    padding: 32px;
    max-width: 600px;
    display: flex;
}

.main__photo {
    max-width: 161px;
    max-height: 161px;
    margin-right: 16px;
}

.main__heading {
    margin: 0;
    font-weight: normal;
}

.main__position {
    font-size: 16px;
    font-style: italic;
    color: #333333;
    display: block;
}

.main__description {
    line-height: 1.5;
}

