html {
    box-sizing: border-box;
   }
   
   *, *:before, *:after {
    box-sizing: inherit;
   }

body {
    background-color: #2C2141;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    background-color: #f8f8f8;
    border-radius: 16px;
    padding: 32px;
    max-width: 600px;
    display: flex;
    box-shadow: 0px 0px 300px rgb(119, 46, 46);
}

.hero__photo {
    max-width: 161px;
    max-height: 161px;
    margin-right: 16px;
    border-radius: 50%;
    box-shadow: -5px 5px 30px #333333;
}

.hero__name {
    margin: 0;
    font-weight: normal;
}

.hero__position {
    font-size: 16px;
    font-style: italic;
    color: #333333;
    display: block;
}

.hero__description {
    line-height: 1.5;
}

.hero__description--special {
    font-weight: normal;
    color: #ED6D05;
}

.hero__footer--link {
    color: #E20613;
    text-decoration: none;
}
